<div class="row">
  <div class="col-2">
    <nav class="bg-light">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Installation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Create new project
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Create new component
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-10">
    <div>main</div>
  </div>
</div>
